* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.1 ease-in-out;
  overflow-x: hidden;
  font-family: Josefin Sans;
}

html {
  scroll-behavior: smooth;
}

.dark-mode {
  background-color: #000;
  color: #ffffff;
  transition: all ease-in-out 2s;
}

.dark-mode h1,
.dark-mode p,
.dark-mode .text .textbox2 {
  color: #ffffff;
}
.dark-mode h1 img,
.dark-mode p img,
.dark-mode .text .textbox2 img {
  border: 2px solid #fff;
}

.dark-mode ul li a {
  color: #ffffff;
}

.slide {
  height: 100%;
  width: 180px;
  right: 0;
  position: absolute;
  background-color: #742296;
  transition: 0.5s ease;
  transform: translateX(180px);
  display: none;
}

h0 {
  color: #fff;
  font-weight: 800px;
  text-align: center;
  padding: 50px 0;
  padding-right: 30px;
  pointer-events: none;
  margin-top: 30px;
}

ul li {
  list-style: none;
  padding-top: 30px;
}
ul li a {
  color: #fff;
  -webkit-text-decoration: olivedrab;
          text-decoration: olivedrab;
}

input {
  display: none;
  visibility: hidden;
}

.toggle {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 20px;
  z-index: 8;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 0 10px black;
  background: #fff;
  display: none;
}

.toggle .common {
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: black;
  border-radius: 50px;
  transition: 0.3s ease;
}

.toggle .top_line {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle .middle_line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle .bottom_line {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input:checked ~ .toggle .top_line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(45deg);
}

input:checked ~ .toggle .bottom_line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(-45deg);
}

input:checked ~ .toggle .middle_line {
  opacity: 0;
  transform: translateX(20px);
}

input:checked ~ .slide {
  transform: translateX(0);
  box-shadow: black;
}

#nav {
  gap: 10px;
  text-align: center;
  align-items: center;
}
#nav .logo {
  margin-left: 40px;
}
#nav nav {
  display: flex;
  text-align: center;
  align-items: center;
}
#nav nav ul {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 50px;
  padding-left: 430px;
}
#nav nav li {
  text-align: center;
  align-items: center;
  list-style: none;
}
#nav nav li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 15px;
}
#nav nav .dark {
  margin-left: 170px;
  width: 7%;
}
#nav nav .dark img {
  padding-left: 50px;
  width: 100%;
}

#hero {
  display: flex;
  gap: 50px;
  margin: 10px 55px 10px 40px;
}
#hero .text {
  margin-top: 130px;
  width: 100%;
}
#hero .text img {
  width: 3%;
}
#hero .text .button {
  display: flex;
}
#hero .text .texbox2 {
  padding-top: 14px;
}
#hero .text .texbox2 a {
  text-decoration: none;
  font-size: 18px;
}
#hero .text a:visited {
  color: #742296;
}
#hero .text h1 {
  font-size: 40px;
}
#hero .text p {
  padding: 20px 0;
  font-size: 20px;
  font-weight: 500;
}
#hero .text .button {
  gap: 15px;
}
#hero .text .button .button2 {
  background: white;
  border: 5px solid #742296;
  padding: 5px;
  width: 25%;
  font-size: 18px;
}
#hero .text .button .button2:hover {
  background: #742296;
  border: 4px dashed #fff;
}
#hero .text .button .button1 {
  background: white;
  border: 5px solid #742296;
  padding: 5px;
  font-size: 18px;
  width: 25%;
}
#hero .text .button .button1:hover {
  background: #742296;
  border: 4px dashed #fff;
}
#hero .pictures {
  display: flex;
  width: 100%;
  gap: 10px;
}
#hero .pictures img {
  width: 100%;
}

.two {
  margin-top: 100px;
}

#about {
  margin-top: 100px;
}
#about h1 {
  margin-left: 20px;
  padding-bottom: 20px;
}
#about .about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px;
  margin-top: 30px;
  gap: 20px;
}
#about .about .images {
  display: flex;
  width: 80%;
}
#about .about .images img {
  width: 100%;
}
#about .about .images .image1 {
  padding-top: 150px;
}
#about .about .about3 {
  justify-content: center;
  text-align: left;
  width: 100%;
}
#about .about .about3 img {
  width: 100%;
}
#about .about .about3 p {
  padding-left: 15px;
}
#about .about .about3 img {
  width: 90%;
}
#about .about .about3 button {
  margin-top: 20px;
  margin-left: 15px;
  background: #742296;
  color: white;
  border: none;
  padding: 10px;
}
#about .about .about3 button:hover {
  background: #fff;
  color: #742296;
  border: 2px dashed #742296;
}

#services .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 0 10px;
  margin-top: 50px;
  flex-wrap: wrap;
}
#services .wrapper .card,
#services .wrapper .card2,
#services .wrapper .card3 {
  position: relative;
}
#services .wrapper .card h3,
#services .wrapper .card2 h3,
#services .wrapper .card3 h3 {
  color: #fff;
}
#services .wrapper .card .img,
#services .wrapper .card2 .img,
#services .wrapper .card3 .img {
  width: 350px;
}
#services .wrapper .card .img img,
#services .wrapper .card2 .img img,
#services .wrapper .card3 .img img {
  width: 100%;
}
#services .wrapper .card .box,
#services .wrapper .card .box2,
#services .wrapper .card .box3,
#services .wrapper .card2 .box,
#services .wrapper .card2 .box2,
#services .wrapper .card2 .box3,
#services .wrapper .card3 .box,
#services .wrapper .card3 .box2,
#services .wrapper .card3 .box3 {
  background: #742296;
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 0;
  right: 0;
  width: 10%;
}
#services .wrapper .card .box img,
#services .wrapper .card .box2 img,
#services .wrapper .card .box3 img,
#services .wrapper .card2 .box img,
#services .wrapper .card2 .box2 img,
#services .wrapper .card2 .box3 img,
#services .wrapper .card3 .box img,
#services .wrapper .card3 .box2 img,
#services .wrapper .card3 .box3 img {
  width: 60%;
  position: absolute;
  margin: 8px;
}
#services .wrapper .cardActive .textbox {
  top: 0;
  background: #742296;
  transition: cubic-bezier(0.05, 0.2, 0.1, 1);
}
#services .wrapper .cardActive .textbox ol {
  max-height: 400px;
  opacity: 1;
  line-height: 30px;
  margin-top: 20px;
  padding: 0;
  text-align: center;
  color: #fff;
}
#services .wrapper .cardActive .box,
#services .wrapper .cardActive .box2,
#services .wrapper .cardActive .box3 {
  background: #bdabc5;
}
#services .wrapper .textbox {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(0deg, #742296 60%, transform);
}
#services .wrapper .textbox h3 {
  text-align: center;
  font-size: 32px;
}
#services .wrapper .textbox ol {
  opacity: 0;
  max-height: 0;
}

#comment .comments {
  margin-left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#comment .comments .comment1 {
  margin-top: 220px;
  width: 75%;
}
#comment .comments .comment1 h1 {
  padding-bottom: 150px;
}
#comment .comments .comment1 img {
  width: 100%;
}
#comment .comments .comment1 h2 {
  padding: 20px 0;
}
#comment .comments .comment1 h3 {
  padding: 20px 0;
}
#comment .comments .comment {
  margin-top: 0;
  width: 80%;
}
#comment .comments .comment img {
  width: 80%;
}
#comment .comments .comment h2 {
  padding: 20px 0;
}
#comment .comments .comment h3 {
  padding: 20px 0;
}

#socials {
  margin: 50px;
}
#socials button {
  margin-left: 575px;
  background: #742296;
  padding: 10px 25px;
  color: white;
  border: none;
}
#socials button:hover {
  background: #fff;
  color: #742296;
  border: 2px dashed #742296;
}
#socials h1 {
  display: flex;
  justify-content: center;
  text-align: center;
}
#socials .socials {
  gap: 10px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#socials .socials img {
  width: 100%;
}
#socials .socials .two {
  padding-bottom: 50px;
}

footer {
  margin: 0;
  background: #742296;
  padding: 40px 30px;
  color: #fff;
  justify-content: center;
  display: flex;
  gap: 100px;
  font-weight: bolder;
  flex-wrap: wrap;
}
footer h6 {
  text-decoration: underline;
}

@media (max-width: 991px) {
  .toggle {
    display: none;
  }
  .slide {
    display: none;
  }
  #nav {
    gap: 10px;
  }
  #nav .logo {
    margin-left: 20px;
    width: 20%;
  }
  #nav .logo img {
    width: 100%;
  }
  #nav nav {
    display: flex;
    text-align: center;
    align-items: center;
  }
  #nav nav ul {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
  }
  #nav nav li {
    text-align: center;
    align-items: center;
    list-style: none;
  }
  #nav nav li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 15px;
  }
  #nav nav .dark {
    width: 10%;
  }
  #nav nav .dark img {
    width: 100%;
  }
  #hero {
    gap: 10px;
  }
  #hero .text {
    width: 80%;
  }
  #hero .text .texbox2 a {
    text-decoration: none;
    font-size: 15px;
  }
  #hero .text a:visited {
    color: #742296;
  }
  #hero .text h1 {
    font-size: 20px;
  }
  #hero .text p {
    font-size: 15px;
    font-weight: 300;
  }
  #hero .text .button2 {
    background-color: #fff;
    border: 2px solid #742296;
    padding: 2px;
    color: #000;
    font-size: 10px;
    width: 40% !important;
  }
  #hero .text .button1 {
    border: 2px solid #742296;
    width: 40% !important;
    font-size: 10px;
    background: #fff;
  }
  #hero .pictures {
    display: flex;
    width: 80%;
    gap: 10px;
  }
  #hero .pictures img {
    width: 100%;
  }
  .two {
    margin-top: 80px;
  }
  .three {
    display: none;
  }
  #about h1 {
    padding: 20px;
    justify-content: center;
    text-align: center;
  }
  #about .about {
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    gap: 30px;
  }
  #about .about .about2 p {
    padding: 10px;
  }
  #about .about .about2 .images {
    display: flex;
    width: 80;
    padding-bottom: 30px;
    gap: 25px;
  }
  #about .about .about2 .images img {
    width: 100%;
  }
  #about .about .about2 .images .image1 {
    padding-top: 0;
  }
  #about .about .about3 {
    justify-content: center;
    text-align: left;
    width: 80%;
  }
  #about .about .about3 p {
    padding-left: 15px;
    display: none;
  }
  #about .about .about3 img {
    width: 100%;
    display: none;
  }
  #about .about .about3 button {
    margin-left: 200px;
    background: white;
    color: #000;
    border: 2px solid #742296;
    font-size: 10px;
  }
  #services {
    flex-wrap: wrap;
  }
  #services h2 {
    margin-left: 30px;
  }
  #services .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 60px;
    margin-top: 50px;
  }
  #services .wrapper .card,
  #services .wrapper .card2,
  #services .wrapper .card3 {
    position: relative;
  }
  #services .wrapper .card .img,
  #services .wrapper .card2 .img,
  #services .wrapper .card3 .img {
    width: 100%;
  }
  #services .wrapper .card .img img,
  #services .wrapper .card2 .img img,
  #services .wrapper .card3 .img img {
    width: 100%;
  }
  #services .wrapper .card .box,
  #services .wrapper .card .box2,
  #services .wrapper .card .box3,
  #services .wrapper .card2 .box,
  #services .wrapper .card2 .box2,
  #services .wrapper .card2 .box3,
  #services .wrapper .card3 .box,
  #services .wrapper .card3 .box2,
  #services .wrapper .card3 .box3 {
    background: #742296;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 0;
  }
  #services .wrapper .cardActive .textbox {
    top: 0;
    background: #742296;
  }
  #services .wrapper .cardActive .textbox ol {
    max-height: auto;
    opacity: 1;
    line-height: 30px;
    margin-top: 20px;
    padding: 0 130px;
    text-align: center;
  }
  #services .wrapper .cardActive .box,
  #services .wrapper .cardActive .box2,
  #services .wrapper .cardActive .box3 {
    background: #bdabc5;
  }
  #services .wrapper .textbox {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(0deg, #742296 60%, transform);
  }
  #services .wrapper .textbox h3 {
    text-align: center;
    font-size: 32px;
  }
  #services .wrapper .textbox ol {
    opacity: 0;
    max-height: 0;
  }
  #comment {
    margin-top: 50px;
  }
  #comment h1 {
    padding-left: 40px;
  }
  #comment .comments {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  #comment .comments .comment1 {
    width: 75%;
  }
  #comment .comments .comment1 img {
    width: 100%;
  }
  #comment .comments .comment1 h2 {
    padding: 20px 0;
  }
  #comment .comments .comment1 h3 {
    padding: 20px 0;
  }
  #comment .comments .comment {
    margin-top: 0;
    width: 80%;
  }
  #comment .comments .comment img {
    width: 80%;
  }
  #comment .comments .comment h2 {
    padding: 20px 0;
  }
  #comment .comments .comment h3 {
    padding: 20px 0;
  }
  #socials {
    margin: 50px;
  }
  #socials .button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #socials .button button {
    margin-left: 0px;
    background: #742296;
    padding: 10px 25px;
    color: white;
    border: none;
  }
  #socials h1 {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  #socials .socials {
    gap: 10px;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #socials .socials img {
    width: 100%;
  }
  #socials .socials .two {
    padding-bottom: 50px;
  }
}
@media (max-width: 768px) {
  #nav {
    gap: 5px;
    text-align: center;
    align-items: center;
  }
  #nav width .logo {
    margin-left: 0px;
    width: 0%;
  }
  #nav width .logo img {
    width: 100%;
  }
  #nav nav {
    display: flex;
    text-align: center;
    align-items: center;
  }
  #nav nav ul {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
    padding-left: 150px;
  }
  #nav nav li {
    text-align: center;
    align-items: center;
    list-style: none;
  }
  #nav nav li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
  }
  #nav nav .dark {
    margin-left: 20px;
    width: 6%;
  }
  #nav nav .dark img {
    padding-left: 4px;
    width: 80%;
  }
  #hero {
    gap: 0px;
    margin: 5px 5px 5px 50px;
  }
  #hero .text {
    margin-top: 50px;
    width: 60%;
  }
  #hero .text .texbox2 {
    padding-top: 8px;
  }
  #hero .text .texbox2 a {
    text-decoration: none;
  }
  #hero .text a:visited {
    color: #742296;
  }
  #hero .text p {
    padding: 15px 0;
    font-size: 15px;
    font-weight: 300;
  }
  #hero .text .button2 {
    background-color: #fff;
    border: 2px solid #742296;
    padding: 0px;
    color: #000;
    font-size: 3px;
    width: 40% !important;
  }
  #hero .text .button1 {
    border: 2px solid #742296;
    padding: 2px;
    font-size: 10px;
    background: #fff;
    width: 40% !important;
  }
  #hero .pictures {
    width: 30%;
  }
  #hero .pictures img {
    width: 100%;
  }
  #hero .two {
    margin-top: 80px;
    display: none;
  }
  .three {
    display: block;
  }
  #about h1 {
    font-size: 15px;
  }
  #about .about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 0 70px;
    margin-top: 20px;
    font-size: 12px;
  }
  #about .about .images {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }
  #about .about .images img {
    width: 100%;
  }
  #about .about .images .image1 {
    padding-top: 0px;
  }
  #about .about .about3 {
    text-align: left;
    width: 80%;
  }
  #about .about .about3 img {
    width: 100%;
  }
  #about .about .about3 p {
    padding-left: 15px;
  }
  #about .about .about3 img {
    width: 100%;
  }
  #about .about .about3 button {
    margin-top: 0;
    padding-left: 0;
    background: white;
    color: #000;
    border: 2px solid #742296;
    padding: 5px;
    font-size: 10px;
    margin-right: 170px;
  }
  #services h2 {
    text-align: center;
  }
  #services .button {
    display: block;
    justify-content: center;
    text-align: center;
  }
  #services .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 60px;
    margin-top: 50px;
  }
  #services .wrapper .one {
    display: none;
  }
  #services .wrapper .card,
  #services .wrapper .card2,
  #services .wrapper .card3 {
    position: relative;
  }
  #services .wrapper .card .img,
  #services .wrapper .card2 .img,
  #services .wrapper .card3 .img {
    width: 100%;
  }
  #services .wrapper .card .img img,
  #services .wrapper .card2 .img img,
  #services .wrapper .card3 .img img {
    width: 100%;
  }
  #services .wrapper .card .box,
  #services .wrapper .card .box2,
  #services .wrapper .card .box3,
  #services .wrapper .card2 .box,
  #services .wrapper .card2 .box2,
  #services .wrapper .card2 .box3,
  #services .wrapper .card3 .box,
  #services .wrapper .card3 .box2,
  #services .wrapper .card3 .box3 {
    background: #742296;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 0;
  }
  #services .wrapper .cardActive .textbox {
    top: 0;
    background: #742296;
  }
  #services .wrapper .cardActive .textbox ol {
    max-height: auto;
    opacity: 1;
    line-height: 30px;
    margin-top: 20px;
    padding: 0 130px;
    text-align: center;
  }
  #services .wrapper .cardActive .box,
  #services .wrapper .cardActive .box2,
  #services .wrapper .cardActive .box3 {
    background: #bdabc5;
  }
  #services .wrapper .textbox {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(0deg, #742296 100%, transform);
  }
  #services .wrapper .textbox h3 {
    text-align: center;
    font-size: 32px;
  }
  #services .wrapper .textbox ol {
    opacity: 0;
    max-height: 0;
  }
  #comment h1 {
    text-align: center;
  }
  #comment .comments {
    margin-left: 55px;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  #comment .comments .comment1 {
    padding-top: 70px;
    margin-top: 0px;
    width: 70%;
  }
  #comment .comments .comment1 img {
    width: 100%;
  }
  #comment .comments .comment1 h2 {
    padding: 10px 0;
    display: flex;
  }
  #comment .comments .comment1 h3 {
    padding: 10px 0;
  }
  #comment .comments .comment {
    margin-top: 0;
    width: 80%;
  }
  #comment .comments .comment img {
    width: 80%;
  }
  #comment .comments .comment h2 {
    padding: 10px 0;
  }
  #comment .comments .comment h3 {
    padding: 10px 0;
  }
  #socials {
    margin: 40px;
    width: 90%;
  }
  #socials .tig {
    display: none;
  }
  #socials button {
    margin-left: 300px;
    background: #742296;
    padding: 10px 25px;
    color: white;
    border: none;
  }
  #socials h1 {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  #socials .socials {
    gap: 10px;
    display: flex;
    width: 100%;
  }
  #socials .socials img {
    width: 100%;
  }
  #socials .socials .two {
    padding-bottom: 50px;
  }
}
@media (max-width: 600px) {
  * {
    overflow-x: hidden;
  }
  .toggle {
    display: block;
    z-index: 5;
    position: absolute;
    position: fixed;
  }
  .slide {
    display: block;
    z-index: 1;
    position: absolute;
    position: fixed;
  }
  #nav {
    gap: 5px;
    text-align: center;
    align-items: center;
    position: absolute;
    position: fixed;
  }
  #nav .toggle {
    display: block;
    z-index: 5;
    position: absolute;
    position: fixed;
  }
  #nav .slide {
    display: block;
    z-index: 3;
    position: absolute;
    position: fixed;
  }
  #nav .slide h0 {
    color: #000;
    font-weight: bolder;
    text-decoration: underline;
  }
  #nav .logo {
    display: none;
    width: 0%;
  }
  #nav .logo img {
    width: 100%;
  }
  #nav nav {
    display: flex;
    text-align: center;
    align-items: center;
  }
  #nav nav ul {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
    padding-left: 150px;
    display: none;
  }
  #nav nav li {
    text-align: center;
    align-items: center;
    list-style: none;
  }
  #nav nav li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
  }
  #nav nav .dark {
    width: 40%;
    margin-top: 0px;
  }
  #nav nav .dark img {
    padding-left: 4px;
    width: 100%;
  }
  #hero {
    text-align: center;
    justify-content: center;
    gap: 15px;
    padding-bottom: 15px;
    margin: 0px 5px 5px 5px;
    background: url(./tigzozo2/Rectangle_63.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }
  #hero .text {
    margin-top: 50px;
  }
  #hero .text .button {
    flex-direction: column;
  }
  #hero .text .button .button2 button {
    padding: 5px;
  }
  #hero .text .texbox2 {
    padding-top: 8px;
  }
  #hero .text .texbox2 a {
    text-decoration: none;
  }
  #hero .text a:visited {
    color: rgb(224, 181, 221);
  }
  #hero .text p {
    padding: 15px 0;
    font-size: 15px;
    font-weight: 300;
  }
  #hero .text .button {
    justify-content: center;
    align-items: center;
  }
  #hero .text .button .button2 {
    background-color: #fff;
    border: 2px solid #742296;
    padding: 5px 7px;
    color: #000;
    font-size: 10px;
  }
  #hero .text .button .button1 {
    border: 2px solid #742296;
    padding: 5px 7px;
    margin-left: 15px;
    font-size: 10px;
    background: #fff;
    margin-right: 12px;
  }
  #hero .pictures {
    display: none;
    width: 30%;
  }
  #hero .pictures img {
    width: 100%;
  }
  #hero .two {
    margin-top: 80px;
    display: none;
  }
  .three {
    display: block;
  }
  #about {
    margin-top: 0px;
  }
  #about h1 {
    margin-top: 5px;
    margin-left: 30px;
    font-size: 15px;
  }
  #about .about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 70px;
    margin-top: 20px;
    font-size: 12px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #about .about .images {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }
  #about .about .images img {
    width: 100%;
  }
  #about .about .images .image1 {
    padding-top: 0px;
  }
  #about .about .about2 {
    display: none;
  }
  #about .about .about3 {
    text-align: left;
    width: 80%;
  }
  #about .about .about3 img {
    width: 100%;
    display: block;
  }
  #about .about .about3 p {
    padding-left: 15px;
    display: block;
  }
  #about .about .about3 img {
    width: 100%;
  }
  #about .about .about3 button {
    margin-top: 0;
    padding-left: 0;
    background: white;
    color: #000;
    border: 2px solid #742296;
    padding: 5px;
    font-size: 10px;
    margin-right: 170px;
  }
  #services h2 {
    text-align: center;
  }
  #services .button {
    display: block;
    justify-content: center;
    text-align: center;
  }
  #services .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 60px;
    margin-top: 50px;
  }
  #services .wrapper .one {
    display: none;
  }
  #services .wrapper .card,
  #services .wrapper .card2,
  #services .wrapper .card3 {
    position: relative;
  }
  #services .wrapper .card .img,
  #services .wrapper .card2 .img,
  #services .wrapper .card3 .img {
    width: 100%;
  }
  #services .wrapper .card .img img,
  #services .wrapper .card2 .img img,
  #services .wrapper .card3 .img img {
    width: 100%;
  }
  #services .wrapper .card .box,
  #services .wrapper .card .box2,
  #services .wrapper .card .box3,
  #services .wrapper .card2 .box,
  #services .wrapper .card2 .box2,
  #services .wrapper .card2 .box3,
  #services .wrapper .card3 .box,
  #services .wrapper .card3 .box2,
  #services .wrapper .card3 .box3 {
    background: #742296;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 0;
    width: 10%;
  }
  #services .wrapper .cardActive .textbox {
    top: 0;
    background: #742296;
  }
  #services .wrapper .cardActive .textbox ol {
    max-height: auto;
    opacity: 1;
    line-height: 30px;
    margin-top: 20px;
    padding: 0;
    text-align: center;
  }
  #services .wrapper .cardActive .box,
  #services .wrapper .cardActive .box2,
  #services .wrapper .cardActive .box3 {
    background: #bdabc5;
  }
  #services .wrapper .textbox {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(0deg, #742296 100%, transform);
  }
  #services .wrapper .textbox h3 {
    text-align: center;
    font-size: 32px;
  }
  #services .wrapper .textbox ol {
    opacity: 0;
    max-height: 0;
  }
  #comment h1 {
    text-align: center;
  }
  #comment .comments {
    flex-direction: column;
    margin-left: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  #comment .comments .comment1 {
    padding-top: 70px;
    margin-top: 0px;
    width: 100%;
    display: none;
  }
  #comment .comments .comment1 img {
    width: 100%;
  }
  #comment .comments .comment1 h2 {
    padding: 10px 0;
    display: flex;
  }
  #comment .comments .comment1 h3 {
    padding: 10px 0;
  }
  #comment .comments .comment {
    margin-top: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #comment .comments .comment img {
    width: 80%;
  }
  #comment .comments .comment h2 {
    padding: 10px 0;
  }
  #comment .comments .comment h3 {
    padding: 10px 0;
  }
  #socials {
    margin: 40px;
    width: 90%;
  }
  #socials .tig {
    display: none;
  }
  #socials .button {
    justify-content: center;
    text-align: center;
  }
  #socials .button button {
    margin-left: 0px;
    background: #742296;
    padding: 10px 25px;
    color: white;
    border: none;
    justify-content: center;
    text-align: center;
  }
  #socials h1 {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  #socials .socials {
    gap: 10px;
    display: flex;
    width: 100%;
  }
  #socials .socials img {
    width: 100%;
  }
  #socials .socials .two {
    padding-bottom: 50px;
  }
}/*# sourceMappingURL=style.css.map */